<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
  <span v-if="isUser">
    <label for="user">账号</label>
    <!--加上key,和下面分支做区分,不让vue复用这个元素-->
  <input type="text" id="user" placeholder="账号" key="user">
  </span>
  <span v-else>
    <label for="email">邮箱</label>
    <input type="text" id="email" placeholder="email" key="email">
  </span>

  <button @click="isUser=!isUser">切换</button>
  <!--v-show是修改display 切换频繁时使用比较好-->
  <h4 v-show="isShow">{{msg}}</h4>
  <!--v-if是删除元素-->
  <h4 v-if="isShow">{{msg}}</h4>
</div>
</body>

<script src="./vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      msg: 'hello',
      isUser: true,
      isShow:true
    },
    methods: {}
  })
</script>

</html>