<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
  <h2>父组件给子组件传递数据</h2>
  <cpn v-bind:cmovies="movies" :cmsg="msg" :cnum="num"></cpn>
  <!--2.0不支持驼峰-->
  <!--<cpn2 v-bind:cInfo="info"></cpn2>-->
  <cpn2 v-bind:c-info="info"></cpn2>
</div>
</body>

<!--子组件要求只有一个根-->
<template id="cpn">
  <div>
    <h5>{{cmsg}}</h5>
    <h4>{{cmovies}}</h4>
    <h6>{{cnum}}</h6>
    <ul>
      <li v-for="item in cmovies">{{item}}</li>
    </ul>
    <ul>
      <li v-for="index of cnum"></li>
    </ul>
  </div>
</template>

<template id="cpn2">
  <div>
    <h5 v-for="v in cInfo">{{v}}</h5>
  </div>
</template>

<!--父组件给子组件传递数据-->
<script src="./vue.js"></script>
<script>
  const cpn = {
    template: "#cpn",
    //数组方式
    // props:['cmovies']
    //对象方式
    props: {
      // 类型限制 可以是自定义类型，比如类名
      // cmovies:Array,
      // cmsg :String

      cmsg: {
        type: String,
        default: "default",
        required: true
      },
      // 类型是数组或者是对象时，默认值要是一个函数
      cmovies: {
        type: Array,
        default() {
          return []
        }
      },
      cnum: {
        type: Number,
        default: 2
      }
    }
  }
  const cpn2 = {
    template: "#cpn2",
    props: {
      cInfo: {
        type: Object,
        default() {
        }
      }
    }
  }

  const app = new Vue({
    el: '#app',
    data: {
      msg: 'hello',
      movies: ["xxx", "yyy", "zzzz"],
      info: {
        name: 'xyz',
        age: 18
      },
      num:5
    },
    methods: {},
    components: {
      cpn,
      cpn2
    }
  })
</script>

</html>
