<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
  <h2>{{msg}}</h2>
  <h4>"父组件中的num1:"{{num1}}</h4>
  <cpn :number1="num1"  @num1change="num1Change">子组件</cpn>
</div>
</body>

<template id="cpn">
  <div>

    <h4>"props:"{{number1}} </h4>
    <!--会报错，不推荐-->
    <!--<input type="text" v-model="number1">-->
    <h4>"data:"{{dnumber1}}</h4>
    <!--简单使用v-model无法实现数据改变同时改变父组件里面数据
    但可以使用watch监听dnumber1值的变化，并在监听函数里面使用emit发消息给父组件-->
    <input type="text" v-model="dnumber1">
    <!--使用input修改的触发方法input，做事件处理，
    自己拿到修改后的值，修改子组件内的数据，并使用emit发消息给父组件-->
    <input type="text" :value="dnumber1" @input="num1Input">
  </div>
</template>

<script src="./vue.js"></script>
<script>
  const cpn ={
    template:"#cpn",
    props:{
      number1:{
        type:String
      }

    },
    data() {
      return {
        dnumber1:this.number1,

      }
    },
    methods:{
      num1Input(event){
        this.dnumber1=event.target.value
        this.$emit('num1change',this.dnumber1)
      }
    },
    watch: {
      dnumber1(newValue) {
        this.$emit('num1change', newValue)
      }
    }
  }
  const app = new Vue({
    el: '#app',
    data: {
      msg: 'hello',
      num1:'1'
    },
    methods:{
      num1Change(value){
        this.num1=value
      }
    },
    components:{
      cpn
    }
  })
</script>

</html>